/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.htaccess
.env.backup
.env.production
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/package-lock.json
/id_rsa_dxbapps
/id_rsa_dxbapps.pub
*zip
index.html
/composer.lock
/stage
/stage-old
/mydoc_2024
/master
.DS_Store